In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# import the data
df = pd.read_csv("heart_v2.csv")
df.head()

   age  sex   BP  cholestrol  heart disease
0   70    1  130         322              1
1   67    0  115         564              0
2   57    1  124         261              1
3   64    1  128         263              0
4   74    0  120         269              0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            270 non-null    int64
 1   sex            270 non-null    int64
 2   BP             270 non-null    int64
 3   cholestrol     270 non-null    int64
 4   heart disease  270 non-null    int64
dtypes: int64(5)
memory usage: 10.7 KB

In [7]:
df['heart disease'].value_counts()

0    150
1    120
Name: heart disease, dtype: int64

**Note:** Can leave out class imbalance techniques for now since the variance in the data set for the heart disease columsn is not very high

### Prepping the data for modelling

In [8]:
X = df.drop('heart disease', axis = 1)
y = df['heart disease'].copy()

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.7, random_state = 42)

In [17]:
print('train shape:', X_train.shape)
print('test shape:', X_test.shape)

train shape: (189, 4)
test shape: (81, 4)

(81, 4)